<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header">
    <meta charset="UTF-8">
    <title>login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/nav"></div>

<!--<h2>Login</h2> <hr>-->
<!--<form th:action="@{/login}" method="POST">-->
<!--    email : <input type="email" name="username" placeholder="email"> <br>-->
<!--&lt;!&ndash;    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>&ndash;&gt;-->
<!--    password : <input type="password" name="password" placeholder="password"> <br>-->
<!--    <button type="submit">Login</button>-->
<!--</form> <br>-->
<!--<div th:if="${param.error}">-->
<!--    <p th:text="${exception}" class="alert alert-danger"></p>-->
<!--</div>-->

<!--<a th:href="@{/signup}" methods="get">회원가입하기 →</a><br>-->
<!--<a th:href="@{/}" methods="get">홈 화면으로 이동 →</a>-->
<div class="pt-5"></div>
<form class="col-md-6 col-lg-3 team container" th:action="@{/login}" method="post">
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            사용자ID 또는 비밀번호를 확인해 주세요.
        </div>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" name="username" placeholder="email" required />
        <label class="form-label" for="form2Example1">아이디</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" name="password" placeholder="password" required/>
        <label class="form-label" for="form2Example2">비밀번호</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">비밀번호를 잊으셨나요?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit"  class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>멤버가 아니신가요? <a th:href="@{/signup}">회원가입</a></p>

    </div>
    <div class="pt-5"></div>
</form>
<div th:replace="fragments/footer"></div>

</body>

</html>