<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head th:replace="fragments/header"></head>
<body>
    <div th:replace="fragments/nav"></div>
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h2 class="mb-4">예약 리스트</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <a th:href="@{/reserve_Ct_library}" methods="get">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 10%">
                        <img class="img-fluid w-100" src="img/library.png" alt="" />
                    </div>
                    <h4>중앙도서관</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <a th:href="@{/reserve_ground}" methods="get">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 10%">
                        <img class="img-fluid w-100" src="img/playground.png" alt="" />
                    </div>
                    <h4>운동장</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <a th:href="@{/reserve_elec_library}" methods="get">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 10%">
                        <img class="img-fluid w-100" src="img/sub-library.png" alt="" />
                    </div>
                    <h4>전자정보 도서관</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <a th:href="@{/reserve_gym}" methods="get">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 10%">
                        <img class="img-fluid w-100" src="img/gymnasium.png" alt="" />
                    </div>
                    <h4>실내 체육관</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <div th:replace="fragments/footer"></div>
</body>
</html>