<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head th:replace="fragments/header"></head>
<style>
  .gradient-custom {
    /* fallback for old browsers */
    background: #CCCCFF;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #CCCCFF;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #CCCCFF;
  }

  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
</style>
<body>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">운동장 예약</h3>
            <form  th:action="@{/reserve_ground}"  method="post">




              <div class="row">
                  <div class="col-md-6 mb-4">

                    <div class="form-outline">
                    <label class="form-label" for="Name_gr">대표자 이름</label>
                    <input type="text" id="Name_gr" class="form-control form-control-lg" name="rep_name" required />
                  </div>

                </div>

                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="ID_gr">학번</label>
                    <input type="text" id="ID_gr" class="form-control form-control-lg" name="studentNumber" required//>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="Phone_gr" class="form-label">대표자 연락처</label>
                    <input type="text" class="form-control form-control-lg" id="Phone_gr"  name="phoneNum" required />
                  </div>

                </div>

                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">목적: </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  id="Event_gr" name ="choicePurpose" required
                           value="행사"/>
                    <label class="form-check-label" for="Event_gr">행사</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  id="Sport_gr" name ="choicePurpose" required
                           value="운동경기" />
                    <label class="form-check-label" for="Sport_gr">운동경기</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="Other_gr" name ="choicePurpose" required
                           value="기타" />
                    <label class="form-check-label" for="Other_gr">기타</label>
                  </div>

                </div>
              </div>

              <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">
                          <label class="form-label" for="Purpose_gr">목적 설명</label>
                           <input type="text" id="Purpose_gr" class="form-control form-control-lg" name="resPurpose" required />
                       </div>

                       </div>
                         <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                         <label class="form-label" for="People_gr">인원</label>
                           <input type="tel" id="People_gr" class="form-control form-control-lg" name="personNum" required />
                      </div>
                 </div>
              </div>

              <form class="">
                 <label for="reservationDate">예약일자:</label>
                  <input type="date" id="reservationDate" name="reservationDate">

                  <!-- https://www.w3schools.com/tags/att_input_type_date.asp -->

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="submit" >예약</button>
                   </div>

              </form>

              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>