<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<h1>Sign Up</h1> <hr>

<form th:action="@{/signup}" method="POST">
    email : <input type="email" name="username" placeholder="email"> <br>
<!--    <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*itemNm" class="fieldError"></p>-->
    password : <input type="password" name="password" placeholder="password"> <br>
    <button type="submit">Join</button>
</form> <br>
<div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
    <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
</div>

<a th:href="@{/login}">로그인 화면으로 이동 →</a>
</body>
</html>